/.vscode
/build*
*.swp

/.idea
/cmake-build-*
/.vs
/CMakeSettings.json
/out
/OneLocBuild
.DS_Store
CMakeLists.txt.user
.cache
/vcpkg-artifacts/node_modules/
/scripts/node_modules/
**/dist/
/vcpkg-root
/CMakeUserPresets.json
/work

# Ignore compiled vcpkg-artifacts TypeScript output
/vcpkg-artifacts/**/*.js
/vcpkg-artifacts/**/*.d.ts
/vcpkg-artifacts/**/*.d.ts.map
!/vcpkg-artifacts/package.json

# Ignore compiled github-cache-cli TypeScript output and dependencies
./scripts/github-cache-cli/**/*.js
./scripts/github-cache-cli/**/*.d.ts
./scripts/github-cache-cli/**/*.js.map
./scripts/github-cache-cli/node_modules/
